{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'shop/shop_home_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="284" border="1" class="table table-dark table-hover">
    <tr>
      <td colspan="5">Date 
      <input type="text" name="textfield" />
      <input type="submit" name="Submit" value="Search" /></td>
    </tr>
    <tr>
      <td width="23">Product</td>
      <td width="35">Details</td>
      <td width="35">Username</td>
      <td width="35">Date</td>
      <td width="122">&nbsp;</td>
    </tr>
        {% for i in request_obj %}
            <tr>
              <td>&nbsp;{{ i.PRODUCT_ID.Product_Name }}</td>
              <td>&nbsp;{{ i.PRODUCT_ID.Product_Details }}</td>
              <td>&nbsp;{{ i.LOGIN_ID.Username }}</td>
              <td>&nbsp;{{ i.Date }}</td>
                {% if i.Status == 'Accepted' %}
                    <td><p><a href="{% url 'assign' assign_id=i.id %}">Choose delivery boy</a></p></td>
                {% endif %}
            </tr>
      {% endfor %}
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}