{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'shop/shop_home_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-dark table-hover">
    <tr>
      <td>Name</td>
      <td>Gender</td>
      <td>Phone</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in boy_obj %}
    <tr>
      <td>&nbsp;{{ i.FirstName }}, {{ i.LastName }}</td>
      <td>&nbsp;{{ i.Gender }}</td>
      <td>&nbsp;{{ i.Phone }}</td>

      <td><a href="{% url 'assign_action' boy_id=i.id %}">Assign</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}