{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'shop/shop_home_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="{% url 'complaint_search_date' %}#about">
  <table width="309" border="1" class="table table-dark table-hover">
    <tr>
      <td colspan="6">Date
      <input type="date" name="Date"  value="{{ date }}"/>
          <input type="submit" name="Submit" value="Search" /></td>
    </tr>
    <tr>
      <td>Complaint</td>
      <td>Date</td>
      <td>Status</td>
    </tr>
      {% for i in complaint_obj %}
    <tr>
      <td>&nbsp;{{ i.Complaints }}</td>
      <td>&nbsp;{{ i.Date }}</td>
        {% if i.Reply == 'pending' %}
      <td>&nbsp;<a href="{% url 'send_reply_shop' reply_id=i.id %}#about" > reply</a> </td>
        {% else %}
        <td>{{ i.Reply }}</td>
        {% endif %}
    </tr>
      {% endfor %}
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}