{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'admin/admin_home_index.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="add_workers_action">
  <table width="200" border="1" class="table table-dark table-hover">
    <tr>
      <td>Firstname</td>
      <td><input type="text" name="FirstName" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <td>Lastname</td>
      <td><input type="text" name="LastName" required pattern="[A-Z a-z.]{3,25}" /></td>
    </tr>
    <tr>
      <td>Age</td>
      <td><input type="text" name="Age" required pattern="[0-9]{0,2}" /></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><input name="Gender" type="radio" value="Male" checked/>
        Male 
          <input name="Gender" type="radio" value="Female" />
        Female</td>
    </tr>
    <tr>
      <td>Place</td>
      <td><input type="text" name="Place" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><input type="text" name="Post" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><input type="text" name="Pin" required pattern="[0-9]{6}"/></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="text" name="Phone" required pattern="[6789][0-9]{9}"/></td>
    </tr>
    <tr>
      <td>Field</td>
      <td><input type="text" name="Field" required /></td>
    </tr>
      <tr>
      <td>Latitude</td>
      <td><input type="text" name="Latitude" required /></td>
    </tr>
      <tr>
      <td>Longitude</td>
      <td><input type="text" name="Longitude" required /></td>
    </tr>
    <tr>
      <td>Username</td>
      <td><input type="text" name="Username" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="Password" required/></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" value="Add" />
      </div></td>
    </tr>
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}