{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'admin/admin_home_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="{% url 'manage_workers1' %}#about">
  <table width="294" border="1" class="table table-dark table-hover">
    <tr>
      <td colspan="7"><p>Search Workers</p>
        <p>
          <input type="text" name="textfield" value="{{ s }}"/>
          <input type="submit" name="Submit" value="Submit" />
      </p></td>
    </tr>
    <tr>
      <td width="14">Firstname</td>
      <td width="23">Age</td>
      <td width="23">Gender</td>
      <td width="23">Address</td>
      <td width="23">Phone</td>
      <td width="23">Field</td>
      <td width="119">&nbsp;</td>
    </tr>
      {% for i in worker_obj %}
    <tr>
      <td>&nbsp;{{ i.FirstName}} {{ i.LastName }}</td>
      <td>&nbsp;{{ i.Age }}</td>
      <td>&nbsp;{{ i.Gender }}</td>
      <td>&nbsp;{{ i.Place }}, {{ i.Post }}, {{ i.Pin }}</td>
      <td>&nbsp;{{ i.Phone }}</td>
      <td>&nbsp;{{ i.Field }}</td>
      <td><p><a href="{% url 'workers_update' worker_id=i.id %}#about">Update</a></p>
      <p><a href="{% url 'workers_delete' worker_id=i.id %}#about">Delete</a></p></td>
    </tr>
      {% endfor %}
    <tr>
      <td colspan="7"><div align="center">
        <a href="{% url 'add_workers' %}#about">Add New Worker" </a>
      </div></td>
    </tr>
  </table>
</form>
{#</body>#}
{##}
{#</html>#}
{% endblock %}