{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}

{% extends 'admin/admin_home_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action={% url 'manage_shop1' %}#about>
  <table width="200" border="1" class="table table-dark table-hover">
    <tr>
      <td colspan="5">Search Shops 
      <input type="text" name="search_name" value="{{ Searach }}"/> <input type="submit" name="Submit" value="Search" /></td>
    </tr>
    <tr>
      <td>Name</td>
      <td>Address</td>
      <td>Phone</td>
      <td>Email</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in shop_obj %}
    <tr>
      <td>&nbsp;{{ i.Name }}</td>
      <td>&nbsp;{{ i.Place }}, {{ i.Post }}, {{ i.Pin }}</td>
      <td>&nbsp;{{ i.Phone }}</td>
      <td>&nbsp;{{ i.Email }}</td>
      <td><p><a href="{% url 'shop_update' shop_id=i.id %}#about">Update</a></p>
      <p><a href="{% url 'shop_delete' shop_id=i.id %}#about">Delete</a></p></td>
    </tr>
      {% endfor %}
    <tr>
      <td colspan="5" align="center"><a href="add_shop#about">Add New Shop</a></td>
    </tr>
  </table>
</form>
{#</body>#}
{##}
{#</html>#}
{% endblock %}